<html>
<head>
    <title>django-tinier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{
            color: #525252;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        html,body{
            display: grid;
            height: 100%;
            width: 100%;
            place-items: center;
        }
        .content{
            max-width: 900px;
            text-align: center;
            padding: 0 50px;
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>django-tinier</h1>
        <h3>The install worked successfully! Congratulations!</h3>
        <br/><br/>
        
                     
        <h3>Here a demo form:</h3> 
        <br/><br/>
                     
        {{ content }}
                    
        {% if form %}
            <form action="." method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.email.errors }}
                {{ form.email }}
                <button type="submit">Sign Me Up</button>
            </form>
        {% endif %}                     
    </div>
</body>
</html>